<div class="row my-5 mx-auto w-75 align-items-center">
    <h2 class="h1 fw-bold text-center"><i class="bi bi-person-fill me-2"></i>INICIAR SESION</h2>
    <div class="col-12 col-lg-6 p-3">
        <img src="/src/img/vertical1.jpg" class="img-fluid h-50">
    </div>
    <div class="col-12 col-lg-6 p-3 text-center text-lg-start">
        <form action="/auth/login" method="POST">
            <label 
                for="email" 
                class="form-label mt-2 fs-5">
                <i class="bi bi-envelope me-2"></i>
                Correo
            </label>
            <input 
                type="text" 
                id="email" 
                name="email"
                class="form-control" 
                placeholder="Ingrese su correo electronico">
            <label 
                for="password" 
                class="form-label mt-2 fs-5">
                <i class="bi bi-braces-asterisk me-2"></i>
                Contraseña
            </label>
            <input 
                type="password" 
                id="password" 
                name="password"
                class="form-control" 
                placeholder="Ingrese su contraseña">
            <button 
                class="btn btn-primary w-100 my-4" 
                type="submit">Ingresar
            </button>
        </form>
        <div class="row text-center text-lg-start">
            <p class="m-0">¿No tienes una cuenta?</p>
            <p class="m-0"><a href="/auth/register" class="link">¡Crea una cuenta Aqui!</a></p>
        </div>
    </div>
</div>