html * {
  font-family: "Heebo" !important;
}

html {
  min-height: calc(100vh - 3rem) !important;
  position: relative;
}

a {
  text-decoration: none !important;
  color: black !important;
}

body {
  margin: 0;
}

img {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(68, 68, 68);
}

.top {
  width: 100%;
  height: 1rem;
  background-color: black;
  box-shadow: 0 0 0.5rem rgb(68, 68, 68);
}

.col-img {
  max-height: 100%;
}

.form-div {
  display: flex;
  align-items: center !important;
}
.form-div * {
  margin: auto 0;
}
.form-div .form-control {
  font-size: 1.2rem;
}

.align-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}

.link {
  text-decoration: none;
  color: rgb(255, 123, 0);
}
.link:hover {
  color: rgb(255, 187, 0);
}

.logo {
  color: rgb(255, 187, 0) !important;
}

.w-85 {
  width: 85vw;
}

.separator {
  display: block;
  width: 0.2rem;
  margin: 0 0.4rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 123, 0);
}

.section {
  margin: 0 !important;
}

.main {
  position: relative;
  display: block;
  width: 100%;
  height: 65vh;
  box-shadow: 0 0 0.5rem rgb(68, 68, 68);
  border-radius: 0.5rem;
  transition: box-shadow, transform 0.3s;
}
.main:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.8rem black;
}

.hidden-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 0.5rem;
  transition: opacity 0.8s;
}
.hidden-content:hover {
  opacity: 1;
}
.hidden-content .title {
  font-size: 3rem;
  color: white !important;
}
.hidden-content .subtitle {
  text-align: center;
  color: white !important;
}

.orange {
  color: rgb(255, 123, 0) !important;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-weight: bold;
  font-size: 3rem;
}

.form {
  height: 60vh !important;
}

html * {
  font-family: "Heebo" !important;
}

.btn {
  border: none !important;
  color: white !important;
}
.btn-primary {
  background-color: rgb(255, 123, 0) !important;
}
.btn-primary:hover {
  background-color: rgb(255, 187, 0) !important;
}
.btn-secondary {
  background-color: rgb(255, 187, 0) !important;
}

.navbar {
  border: none !important;
  background-color: black !important;
  box-shadow: 0 0 0.5rem rgb(68, 68, 68);
}
.navbar-nav {
  margin-left: auto;
}
.navbar-brand {
  font-weight: bold;
  font-size: 2.2rem !important;
}

.sidebar {
  position: fixed;
  margin: 0;
  padding: 0.5rem;
  width: 13rem;
  height: 100%;
  background-color: rgb(248, 240, 240);
  box-shadow: 0 0 0.5rem rgb(68, 68, 68);
}
.sidebar .button, .sidebar .button-main {
  font-size: 1.05rem;
  padding: 0.5rem;
  display: block;
  cursor: pointer;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
.sidebar .button-main {
  background-color: rgb(255, 72, 0);
}
.sidebar .button:hover, .sidebar .button-main:hover {
  background-color: rgb(255, 123, 0);
}

.app {
  width: calc(100% - 13rem) !important;
  margin-left: 13rem !important;
}

.app-show {
  width: 100% !important;
}

.table {
  height: calc(100vh - 19rem);
  padding: 1rem 0rem;
  padding-left: 1.5rem;
  background-color: rgb(248, 240, 240);
  box-shadow: 0 0 0.5rem rgb(153, 153, 153);
  border-radius: 0.5rem;
  justify-content: center;
  overflow-y: scroll;
}
.table .row {
  padding: 0.2rem;
  width: 100% !important;
  display: grid;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}
.table .row.white {
  background-color: white;
}
.table .row.clicked {
  background-color: rgb(255, 187, 0);
}
.table .row:hover {
  background-color: rgb(255, 187, 0);
}
.table.client .row {
  grid-template-columns: 4rem repeat(3, 1fr);
}
.table.client .header {
  grid-template-columns: 4rem repeat(3, 1fr);
}
.table.trainer .row {
  grid-template-columns: repeat(3, 1fr);
}
.table.trainer .header {
  grid-template-columns: repeat(3, 1fr);
}
.table.area .row {
  grid-template-columns: repeat(2, 1fr);
}
.table.area .header {
  grid-template-columns: repeat(2, 1fr);
}
.table.membresia .row {
  grid-template-columns: repeat(3, 1fr);
}
.table.membresia .header {
  grid-template-columns: repeat(3, 1fr);
}
.table .header {
  width: 100% !important;
  margin-bottom: 0.5rem;
  display: grid;
  font-weight: bold;
}

.Info-container {
  padding: 1rem;
  height: calc(100vh - 11rem);
}
.Info-container .image {
  padding: 0 !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.Info-container .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.Info-container .section {
  height: 2rem !important;
}

.Edit-container {
  padding: 1rem;
  height: calc(100vh - 11rem);
  overflow-y: scroll;
}

.container-button {
  margin-top: -3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end !important;
}

.footer {
  height: 3rem;
  position: absolute !important;
  bottom: -3rem;
  background-color: black;
  box-shadow: 0 0 0.5rem rgb(68, 68, 68);
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */