
//-------------------COLORS-------------------//

$orange: rgb(255, 123, 0);
$light-orange: rgb(255, 187, 0);
$red: rgb(255, 72, 0);
$white: rgb(248, 240, 240);
$grey: rgb(102, 102, 102);
$light-grey: rgb(153, 153, 153);
$black-grey: rgb(68, 68, 68);
$black-grey-tr: rgba(68, 68, 68, 0.800);
$black-tr: rgba(0, 0, 0, 0.685);

//------------------SHADOWS-------------------//

$sd-light-grey: 0 0 .5rem $light-grey;
$sd-black: 0 0 .5rem $black-grey;
$sd-hard-black: 0 0 .8rem black;
$sd-orange: 0 .1rem .5rem $orange;

//--------------------UNITS-------------------//

$border: .5rem;
$fotter-height: 3rem;

html *{
    font-family: 'Heebo' !important;
}